
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env
/.env.dev
/bin
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/.phpunit.result.cache
###< symfony/framework-bundle ###

.idea
postman_collection.json
